@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Product Management System</h1>
    <p><a href="/Products">Go to Products</a></p>
</div>
